In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('/home/maemoon/Documents/BDA_Project/fma_metadata/raw_tracks.csv')
df2=pd.read_csv('extracted_features.csv')

In [43]:
column_names = df2.columns.tolist()
print(column_names)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', 'folder', 'file']

In [44]:
newdf = pd.DataFrame()
newdf['track_id'] = df2['file']

In [45]:
newdf['track_id'] = newdf['track_id'].str.lstrip('0').str.rstrip('.mp3')

In [46]:
# Convert 'track_id' to string in both DataFrames
df['track_id'] = df['track_id'].astype(str)
newdf['track_id'] = newdf['track_id'].astype(str)

# Merge the DataFrames on 'track_id'
merged_df = pd.merge(df, newdf, on='track_id', how='inner')

# Create a new DataFrame with both 'track_id' and 'artist_name'
artist_names_df = merged_df[['track_id', 'artist_name','track_title','track_genres']].copy()

In [47]:
artist_names_df

,track_id,artist_name,track_title,track_genres
0,2,AWOL,Food,"[{'genre_id': '21', 'genre_title': 'Hip-Hop', ..."
1,5,AWOL,This World,"[{'genre_id': '21', 'genre_title': 'Hip-Hop', ..."
2,5,AWOL,This World,"[{'genre_id': '21', 'genre_title': 'Hip-Hop', ..."
3,10,Kurt Vile,Freeway,"[{'genre_id': '10', 'genre_title': 'Pop', 'gen..."
4,10,Kurt Vile,Freeway,"[{'genre_id': '10', 'genre_title': 'Pop', 'gen..."
...,...,...,...,...
2862,4994,Lucky Dragons,Mercy,"[{'genre_id': '15', 'genre_title': 'Electronic..."
2863,4996,New Bomb Turks,Hassle St.,"[{'genre_id': '25', 'genre_title': 'Punk', 'ge..."
2864,4997,New Bomb Turks,Interview: Part 2,"[{'genre_id': '25', 'genre_title': 'Punk', 'ge..."
2865,4998,New Bomb Turks,Interview: Part 3,"[{'genre_id': '25', 'genre_title': 'Punk', 'ge..."
2866,4999,New Bomb Turks,Grifted,"[{'genre_id': '25', 'genre_title': 'Punk', 'ge..."

In [48]:
df2['file'] = df2['file'].str.lstrip('0').str.rstrip('.mp3')

In [49]:
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,folder,file
0,-1.851926,1.455226,0.645715,-0.658262,0.277762,-0.924278,0.546222,-0.288380,-0.549519,0.470141,-0.641724,0.237610,-0.458930,0.058018,0.006596,0,837
1,2.230716,-1.513401,-2.372253,-0.031553,-0.808215,-1.458814,0.494390,0.309917,0.413598,-1.426377,-1.366016,-0.233113,0.123787,-0.469960,-0.124221,0,85
2,0.511255,-2.426798,0.423152,-0.921256,0.409649,-1.072660,0.058013,1.039661,0.263696,-0.074572,-0.281676,0.785699,-1.027757,-0.133209,-0.102533,0,349
3,-1.628755,-1.382225,2.263429,1.303058,-0.596311,0.850928,-0.986291,-0.817081,-0.432490,0.103936,-0.209526,0.390511,0.488691,-0.059314,-0.009651,0,926
4,0.356503,1.414402,-0.924230,-1.722034,0.584620,-0.631028,-0.163028,0.189266,0.114992,0.117968,-0.664936,-0.086155,-0.064729,0.059264,-0.061288,0,838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,2.626141,-0.695977,0.474860,0.464706,0.028090,-0.059610,0.395327,0.119156,-0.327459,0.294446,0.975983,-0.011615,-0.106739,-0.082667,-0.000493,4,4316
3005,3.519882,1.697413,-1.605515,-0.136130,0.123055,1.925995,-0.573207,-0.570977,-1.003348,0.150170,-0.734157,0.072591,0.964339,-0.306308,0.201342,4,4895
3006,-0.979930,-1.574245,-0.733350,0.460376,-0.316931,-0.162907,0.246803,0.378347,-0.007145,0.411241,0.083422,0.315250,0.035407,-0.075266,0.021535,4,4106
3007,-0.866799,1.685907,-0.962216,-1.814244,0.396627,0.447468,-0.150120,0.148194,-0.370662,-0.186776,0.111185,0.327028,-0.088566,-0.038272,-0.015978,4,430
3008,-2.303272,1.655159,0.494514,-0.216703,-0.728177,0.464192,-0.532245,0.970721,-0.069601,0.164722,-0.033868,0.042872,0.238887,0.205411,0.149530,4,4249

In [51]:
df2.rename(columns={'file': 'track_id'}, inplace=True)

# Merge the two DataFrames based on the common column
merged_df = pd.merge(artist_names_df, df2, on='track_id', how='inner')

# Display the merged DataFrame
print(merged_df)

     track_id     artist_name        track_title  \
0           2            AWOL               Food
1           5            AWOL         This World
2           5            AWOL         This World
3           5            AWOL         This World
4           5            AWOL         This World
...       ...             ...                ...
3180     4994   Lucky Dragons              Mercy
3181     4996  New Bomb Turks         Hassle St.
3182     4997  New Bomb Turks  Interview: Part 2
3183     4998  New Bomb Turks  Interview: Part 3
3184     4999  New Bomb Turks            Grifted

                                           track_genres         0         1  \
0     [{'genre_id': '21', 'genre_title': 'Hip-Hop', ... -0.826825  2.561418
1     [{'genre_id': '21', 'genre_title': 'Hip-Hop', ...  0.021515  2.256900
2     [{'genre_id': '21', 'genre_title': 'Hip-Hop', ... -0.449316  2.712532
3     [{'genre_id': '21', 'genre_title': 'Hip-Hop', ...  0.021515  2.256900
4     [{'genre_id': '21', 'genre_title': 'Hip-Hop', ... -0.449316  2.712532
...                                                 ...       ...       ...
3180  [{'genre_id': '15', 'genre_title': 'Electronic... -0.834072  0.184768
3181  [{'genre_id': '25', 'genre_title': 'Punk', 'ge... -2.243378  3.017399
3182  [{'genre_id': '25', 'genre_title': 'Punk', 'ge...  2.104879  0.362935
3183  [{'genre_id': '25', 'genre_title': 'Punk', 'ge...  2.709378  0.482841
3184  [{'genre_id': '25', 'genre_title': 'Punk', 'ge... -1.925505  2.305863

             2         3         4         5         6         7         8  \
0    -0.614620  0.115491 -0.415574  0.637265 -0.367720 -0.024593 -0.239430
1    -0.027492 -0.711757 -0.943382  0.358794  0.774563  0.083062 -0.717544
2     1.339465 -0.096495 -0.767164 -0.283038  0.547236 -0.232649  0.089896
3    -0.027492 -0.711757 -0.943382  0.358794  0.774563  0.083062 -0.717544
4     1.339465 -0.096495 -0.767164 -0.283038  0.547236 -0.232649  0.089896
...        ...       ...       ...       ...       ...       ...       ...
3180  1.784696  1.049862 -0.442357  0.110294  1.595648  0.281402  0.267945
3181 -1.112545 -0.018942 -0.511247 -0.558576  0.324211 -0.160005  0.123277
3182  0.118594 -0.810557  0.260879  0.618984 -0.258421 -0.151798  0.581241
3183  0.487964 -0.517183  0.143992 -0.113142  0.606078 -0.095933 -0.201378
3184 -1.136260 -0.284964 -0.737077 -0.512231  0.238145 -0.249663 -0.052945

             9        10        11        12        13        14  folder
0    -0.160398  0.276153  0.109694 -0.500190 -0.072066  0.098949       0
1    -0.615807 -0.051554 -0.503691  0.158669 -0.064389  0.001338       0
2    -0.639874 -0.133983  0.126922  0.299536  0.142496 -0.108909       0
3    -0.615807 -0.051554 -0.503691  0.158669 -0.064389  0.001338       0
4    -0.639874 -0.133983  0.126922  0.299536  0.142496 -0.108909       0
...        ...       ...       ...       ...       ...       ...     ...
3180  1.158027 -0.698592 -1.545785  0.753528  0.089715 -0.007370       4
3181  0.100921  0.026673  0.528073 -0.213299  0.132617 -0.031553       4
3182  0.347282  0.763913  0.091237 -0.184863 -0.087543  0.059616       4
3183  0.130281  0.052308  0.082101 -0.511430 -0.237044 -0.010099       4
3184  0.135931 -0.242447  0.404910 -0.180592  0.124864 -0.025880       4

[3185 rows x 20 columns]

In [52]:
merged_df.to_csv("Processed_MetaData.csv")